:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: max(12pt, 3vmin + 4pt)
}

html {
  scroll-snap-type: y mandatory;
  background: rgb(10, 10, 10);
}

body {
  margin: 0;
  color: white;
  max-width: 100vw;
  display: flex;
  gap: 1rem;
  justify-content: stretch;
  align-content: start;
}

main {
  display: contents;
}

main>section {
  flex-basis: 0%;
  max-height: 100vh;
  transition: flex-basis 200ms ease-in-out;
}


main>section:target {
  flex-basis: 100%;
  max-height: none;
}

main>section:first-child {
  flex-basis: 100%;
  max-height: none;
}

main>section:has(~ [id]:target) {
  flex-basis: 0%;
  max-height: none;
  overflow: hidden;
}


header,
nav {
  box-sizing: border-box;
  writing-mode: vertical-rl;
  max-height: 100svh;
  margin: 0;
  padding: 1rem 0;
  position: sticky;
  top: 0;
}

header h1 {
  margin: 0;
  padding: 0 0 0 1rem;
}

nav {
  order: 1;
  bottom: 0;
  height: 100%;
  display: flex;
  gap: 1rem;
  transform: rotate(180deg);
}

nav a:hover {
  text-decoration: underline;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  padding: 0;
  display: flex;
}

#about {
  overflow: hidden;
  background: white;
  font-size: 50%;
  flex-direction: column;
  order: 3;

  >* {
    color: rgb(10, 10, 10);
    padding: 1.5rem;
    max-width: 83ch;
  }

  a {
    color: rgb(10, 10, 10);
  }
}

#works {
  flex-direction: column;
  justify-content: flex-start;

  figure {
    box-sizing: border-box;
    max-height: 100svh;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    scroll-snap-align: start;
    justify-content: start;
    align-items: flex-start;
  }

  picture {
    display: contents;
  }

  figcaption {
    display: block;
    height: 0;
    padding: 0;
    font-size: 50%;
  }

  figcaption ul {
    display: flex;
    padding: 1rem;
    transform: translateY(-100%);
    align-items: flex-end;
    list-style: none;
    gap: 1rem;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}